.box_form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--bg-primary);
  box-shadow: 0 12px 28px 0 var(--shadow-1), 0 2px 4px 0 var(--shadow-2),
    inset 0 0 0 1px var(--shadow-inset);
  min-height: 180px;
  width: 500px;
  border-radius: 5px;
}

.box_form .small_circle {
  position: absolute;
  right: 16px;
  top: 12px;
}

.box_container {
  padding: 10px;
  margin-bottom: 20px;
}

.box_footer {
  border-top: 1px solid var(--bg-third);
}

.box_action {
  float: right;
  width: 80px;
  margin: 10px;
  padding: 10px;
  outline: none;
  border: none;
  background: var(--blue-color);
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

.box_cancle {
  float: right;
  width: 80px;
  margin: 10px 0;
  padding: 10px;
  outline: none;
  border: none;
  background: var(--bg-third);
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}
