.dashboard_info_text_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.dashboard_info_text_container > img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.dashboard_info_text_title {
  font-size: 24px;
  color: #e4e6eb;
}

.dashboard_info_text_description {
  font-size: 20px;
  color: #b0b3b8;
}
