.home {
  max-width: 945px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  /* min-width: 100vh; */
}
.home_middle {
  margin-top: 75px;
  min-height: 100vh;
  width: 100%;
  max-width: 680px;
}

.background-secondary {
  background: var(--bg-secondary);
}
@media (max-width: 1175px) {
  .stories,
  .createPost,
  .post,
  .story-wrapper,
  .send_verification {
    width: 79%;
  }
  .home_middle {
    margin-left: 24%;
  }
  .right_home {
    width: 18vw;
  }
}
@media (max-width: 1030px) {
  .left_home .left_link span,
  .left_home .left_link .col,
  .shortcut,
  .shortcut_item span,
  .splitter,
  .fb_copyright {
    display: none;
  }

  .left_link img {
    margin-right: 0;
  }
  .left_home {
    width: 70px;
  }
  .left_link {
    background: var(--bg-third);
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: grid;
    place-items: center;
  }
  .home_middle {
    position: relative;
    margin-left: 55px;
    width: 72%;
  }
  .right_home {
    display: none;
  }
  .contacts_header_right {
    right: 10%;
  }
  .contact_circle {
    width: 20px;
  }
  .stories,
  .createPost,
  .post,
  .story-wrapper,
  .send_verification {
    width: 100%;
  }
}
@media (max-width: 960px) {
  .createPost,
  .post,
  .story-wrapper,
  .send_verification {
    width: 100%;
  }
  .stories {
    width: 98.5%;
    grid-template-columns: repeat(6, 19%);
  }
  .home_middle {
    margin-left: 10%;
    width: 74%;
  }
  .right_home {
    left: 78%;
    width: 20vw;
  }
  .splitter1 {
    width: 20vw;
  }
  .contact_circle {
    width: 30px;
  }
  .contacts_header_right {
    right: 0;
  }
}
@media (max-width: 885px) {
  .right_home {
    display: none;
  }
  .createPost,
  .post,
  .story-wrapper,
  .send_verification {
    width: 106%;
  }
  .stories {
    width: 106%;
    grid-template-columns: repeat(6, 18.8%);
  }
  .home_middle {
    margin-left: 9%;
    width: 77%;
  }
}
@media (max-width: 805px) {
  .stories {
    grid-template-columns: repeat(6, 18.5%);
  }

  .create_story_card {
    filter: brightness(96%);
  }
  .stories .white_circle {
    right: -1%;
  }
  .story_profile_pic {
    width: 7vw;
    height: 7vw;
  }
  .left_home::-webkit-scrollbar {
    display: none;
  }
  .popup {
    width: 70vw !important;
  }
}
@media (max-width: 620px) {
  .left_home {
    display: none;
  }
  .home_middle {
    /* position: absolute; */
    margin-left: 0;
  }
  .stories,
  .createPost,
  .post,
  .story-wrapper,
  .send_verification {
    width: 100%;
  }
  .stories .white_circle {
    display: none;
  }
  .stories {
    grid-template-columns: repeat(6, 14vw);
  }
  /* .story,
  .create_story_card {
    height: 30vw;
  } */
  .createPost_icon {
    font-size: 12px;
  }
  .open_post {
    font-size: 16px;
  }
  .createPost_icon svg {
    width: 20px;
  }
}
@media screen and (min-width: 400px) and (max-width: 622px) {
  .createPost,
  .post {
    margin-top: 1rem;
  }
  .home_middle,
  .createPost,
  .story-wrapper,
  .post {
    width: 98%;
    margin: 1rem auto;
  }
  .send_verification {
    width: 98%;
    margin: 0 auto;
  }
  .stories {
    grid-template-columns: repeat(5, 17vw);
    /* padding-left: 10px; */
  }
  .home_middle {
    margin: 56px auto;
  }
  .createPost_body {
    padding: 5px 0;
  }
}
/*-----Activate popup----*/
.popup {
  position: relative;
  background: var(--bg-primary);
  box-shadow: 0 1px 2px var(--shadow-1);
  width: 40vw;
  height: 200px;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  text-align: center;
  border-radius: 10px;
}
.popup_header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  border-bottom: 1px solid var(--bg-third);
  padding: 15px;
}
.popup_message {
  padding: 15px;
  font-weight: 500;
}
/*-----Activate popup----*/
