/* --------Wrap Chat Box ---------- */
#wrapper {
  position: fixed;
  bottom: 0px;
  right: 81px;
  display: flex;
  flex-direction: row-reverse;
  z-index: 1;
}

/* Header Chatbox */
.ChatBox_wrapper {
  display: none;
}

.ChatBox_display {
  width: 338px;
  height: 455px;
  margin-left: 8px;
  font-size: 15px;
  line-height: 1rem;
  background-color: #fff;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  box-shadow: 0 0 10px rgb(0 0 0 / 20%);
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ChatBox_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
}

.ChatBox_header_left {
  margin: 4px;
  border-radius: 8px;
}

.ChatBox_header_left:hover {
  cursor: pointer;
  background: var(--bg-third);
}

.ChatBox_header_left img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 8px;
}

.ChatBox_header_left_wrapper {
  display: block;
}

.ChatBox_header_left_username {
  font-size: inherit;
  font-weight: 600;
}

.ChatBox_header_left_status {
  font-size: 13px;
  font-weight: normal;
  color: #999;
}

.ChatBox_header_left_circle {
  position: absolute;
  bottom: 3px;
  left: 27px;
  width: 14px;
  background: #31a24c;
  height: 14px;
  border-radius: 50%;
  border: 2px solid var(--bg-primary);
}

.ChatBox_header_left_arrow_down {
  cursor: pointer;
  margin-left: 7px;
}

.ChatBox_header_left_pad {
  position: relative;
  display: flex;
  align-items: center;
  padding: 4px;
}

.ChatBox_header_right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-right: 5px;
}

.ChatBox_header_right_item {
  border-radius: 50%;
  cursor: pointer;
}

/* Container Chatbox */
.ChatBox_container {
  position: relative;
  min-height: 335px;
  max-height: 335px;
  overflow-y: auto;
  padding: 10px 22px 0px 8px;
  background: var(--bg-primary);
  /* box-shadow: inset 0 32px 32px -32px rgb(0 0 0 / 5%),
    inset 0 -32px 32px -32px rgb(0 0 0 / 5%); */
}

.ChatBox_container .outgoing {
  display: flex;
}

.ChatBox_container .chat {
  margin: 15px 0;
}

.ChatBox_container .outgoing .details {
  margin-left: auto;
  max-width: calc(100% - 102px);
}

/*--------- User chat---------- */
.outgoing .details p {
  background: var(--blue-color);
  color: #fff;
  border-radius: 18px 18px 0 18px;
}

.ChatBox_container .chat p {
  word-wrap: break-word;
  padding: 8px 12px;
  box-shadow: 0 0 32px rgb(0 0 0 / 8%), 0rem 16px 16px -16px rgb(0 0 0 / 10%);
}

/*--------- Guest chat----------- */
.ChatBox_container .incoming {
  display: flex;
  align-items: flex-end;
}

.incoming .details p {
  background: #e4e6eb;
  color: #333;
  border-radius: 18px 18px 18px 0;
}

.ChatBox_container .incoming img {
  height: 28px;
  width: 28px;
}
.ChatBox_container .chat img {
  object-fit: cover;
  border-radius: 50%;
}

.ChatBox_container .incoming .details {
  margin-right: auto;
  margin-left: 10px;
  max-width: calc(100% - 130px);
}

/*---------- Bottom ChatBox-------- */
.ChatBox_message_bottom {
  display: flex;
  align-items: center;
  padding: 12px 0;
}

.ChatBox_message_bottom_plus_icon {
  padding: 8px;
}

.ChatBox_message_bottom_wrapper {
  display: flex;
  margin: 0px 2px;
}

.ChatBox_message_bottom_icons_wrap {
  display: flex;
  align-items: center;
  margin-right: 10px;
  gap: 2px;
}

.ChatBox_message_bottom_input {
  position: relative;
  width: 148px;
  height: 36px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ChatBox_message_bottom_input input {
  width: 69%;
  height: 34px;
  outline: none;
  border: none;
  line-height: 1.33333;
  font-size: 15px;
  margin-right: 15px;
}

.ChatBox_message_bottom_input,
.ChatBox_message_bottom_input input {
  background: #f0f2f5;
}

.ChatBox_message_bottom_like_icon {
  padding: 8px;
}

.ChatBox_message_bottom_input .face_icon svg {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
}

.ChatBox_message_bottom_icon {
  padding: 5px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ChatBox_message_bottom_like_icon {
  flex: 1;
  display: flex;
  justify-content: center;
}

.chat-typing {
  display: flex;
  align-items: center;
  margin: 15px 0;
}

.chat-typing .details {
  margin-right: auto;
  margin-left: 10px;
  max-width: calc(100% - 130px);
}

.chat-typing .chat-typing-img {
  object-fit: cover;
  border-radius: 50%;
  height: 28px;
  width: 28px;
}

.chat-typing .details .css-1xdhyk6 {
  background: #e4e6eb;
  color: #333;
  border-radius: 18px 18px 18px 0;
  padding: 5px 7px;
  box-shadow: 0 0 32px rgb(0 0 0 / 8%), 0rem 16px 16px -16px rgb(0 0 0 / 10%);
}

.chat-typing .details .css-1xdhyk6 span {
  width: 5px;
  height: 5px;
}

.message-user-createAt {
  font-size: 12px;
  color: #8a8d91;
  display: flex;
  justify-content: flex-end;
  margin-right: 5px;
}

.message-friend-createAt {
  font-size: 12px;
  color: #8a8d91;
  display: flex;
  justify-content: flex-start;
  margin-left: 40px;
}

.circle_hover_cover {
  padding: 5px;
  border-radius: 50%;
}

.like_button {
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

:is(.ChatBox_container)::-webkit-scrollbar {
  width: 0px;
}
