.modal_post_form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--bg-primary);
  box-shadow: 0 12px 28px 0 var(--shadow-1), 0 2px 4px 0 var(--shadow-2),
    inset 0 0 0 1px var(--shadow-inset);
  height: calc(100vh - 64px);
  border-radius: 8px;
}

.modal_post_header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 700;
  padding: 14px 15px 17px 15px;
  border-bottom: 1px solid var(--bg-third);
}

.modal_post_form .small_circle {
  position: absolute;
  right: 16px;
  top: 12px;
}

.modal_post_container {
  overflow: auto;
  height: calc(100% - (61.8px + 93px));
  overflow-x: hidden;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.modal_post_footer {
  /* border-top: 1px solid var(--bg-third); */
}

.modal_post_action {
  float: right;
  width: 125px;
  margin: 10px;
  padding: 10px;
  outline: none;
  border: none;
  background: var(--blue-color);
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

.modal_post_action:hover {
  background: #0760d5;
}

.modal_post_cancel {
  float: right;
  min-width: 45px;
  margin: 10px 0;
  padding: 10px;
  outline: none;
  border: none;
  background: transparent;
  color: var(--blue-color);
  font-size: 15px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

.modal_post_cancel:hover {
  background: var(--bg-forth);
}

.modal_post_container::-webkit-scrollbar {
  width: 0;
  height: 0;
  background-color: transparent;
}

/* ======Responsive======== */
@media (min-width: 768px) {
  .modal_post_form {
    width: 700px;
  }
}

@media (max-width: 767px) {
  .modal_post_form {
    width: calc(100vw - 30px);
  }
}
